/token.sh
/linux-amd64-github-release.tar.bz2
/bin/linux/amd64/github-release
/richCase/rich.gocd.yaml
/simpleInvalidCase/simple-invalid.gocd.yaml
/simpleCase/simple.gocd.yaml
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
/.idea/
/build/
/out/
/buildSrc/build/
/buildSrc/.gradle/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

docker/libs/
/docker/imagerc*
/Idefile.to_be_tested
/test/integration/test_ide_work/yaml-example/
src/main/resources-generated/
